 body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
            text-align: center;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
            background: rgb(52, 52, 52);
            color: white;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .search-bar {
            max-width: 500px;
            margin: 20px auto;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ddd;
            background: white;
        }
        .box-container {
            background-color: #f4f3f3;
            padding: 5%;
            border-radius: 10px;
        }
        .item {
            background-color: white;
            padding: 5%;
            border-radius: 5%;
            text-align: center;
        }
        
        .one {
            color: red;
            font-size: 32px;
            font-weight: bold;
        }
        h1 {
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: white;
        }
        .notice h2{
            justify-content: center;
            text-align: center;
            padding: 50px 100px 0px 100px;
        }

        .bttn {
            padding: 10px;
            border-radius: 5px;
            background-color: black;
            color: white;
        }
        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
        }
        
        .img img {
            max-width:20%;
            height: auto;
        }
        @media (max-width: 768px) {
            h1 {
                font-size: 30px;
            }
            .item {
                padding: 15px;
            }
            .one {
                font-size: 28px;
            }
        }
